html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #dbc1ac;

  overflow-x: hidden; /* Prevents horizontal scroll */
  width: 100%; /* Ensures no overflow due to width */
  box-sizing: border-box; /* Includes padding and border in the element's width and height */
}

.app {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures it takes the full height of the viewport */
}

.main-content {
  flex: 1; /* Allows it to grow and fill available space */
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}



.navbar {
  background-color: #38220f;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo img {
 height: 35px;
 /* border-style: groove; */
 border-color: white;
 border-radius: 10px;
}

.navbar .nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .nav-links li {
  margin: 0 10px;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}
/* Optional: Adjust footer styling */

