.order-summary {
  height: 100%;
  width: 100%;
  margin-top: 0;
  overflow-x: auto;
}
.List{
  margin-bottom: 15%;
}
.orders-list {
  display: flex;
justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
}


.order-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  width: 250px;
  flex-direction: row;
  position: relative; /* Needed to position Meja No at the top right */
}
h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  margin-top: 0;
}
.order-card h3 {
  margin: 0;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.order-category{
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

.order-card h4 {
  margin: 10px 0;
  font-size: 14px;
}
.order-card h5 {
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.order-card h6 {
  color: #634832;
  font-size: 20px;
  margin-top: 0%;
  margin-bottom: 1%;
}

.order-card ul {
  list-style: none;
  padding: 0;
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 0%;
}

.order-card li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  margin-top: 0px;
  color: #38220f;
  font-weight: 450;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.item-name {
  text-align: left;
  flex: 3;
}
.item-qty {
  text-align: right;
  flex: 1;
}



.order-card li span.qty {
  text-align: right;
}


.item-name.stroked {
  text-decoration: line-through; /* Adds the stroke effect */
  color: red; /* Optional: change color to highlight stroked text */
}
.order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes items to the top and bottom */
  height: 100%; /* Ensure the container takes full height */
}
.order-mark {
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:auto; 
  position :absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
}
.Pesanan-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4e3928;
  color: #ece0d1;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}
.bottom-interact {
  margin-top: 0%;
}
.order-message {
  margin-top: 10%;
  margin-bottom: 20%;
  font-size: 18px;
}
.Pesanan-button:hover {
  background-color: #0056b3;
}
