/* Base styles for larger screens */

.order-form {
  display: flex;
  padding: 20px;
}

.menu-container {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  margin-bottom: 20px;
}

.nav-button {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #4e3928;
  color: #ece0d1;
  border-radius: 8px;
  font-weight: 600;
}

.nav-button.active {
  background-color: #ece0d1;
  color: #4e3928;
  font-weight: 600;
}

.menu-section li {
  display: flex;
  justify-content: space-between;
}

.menu-header {
  margin-bottom: 5px;
  font-weight: 700;
  color: #4e3928;
}
li.menu-header {
  border-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
span.header-stock {
  flex: 1;
}
span.header-name {
  flex: 3;
}
span.header-price {
  flex: 2;
}
span.header-add {
  flex: 1;
  align-items: center;
  text-align: center;
}

.message-input {
  margin-top: 10px; /* Add margin on top to separate from Meja No */
  resize: vertical; /* Allow vertical resizing */
}

span.item-name {
  flex: 3;
}
.menu-item {
  margin-bottom: 10px;
  justify-content: space-between;
  display: flex;
}

.item-stock {
  flex: 1;
  font-weight: 500;
  align-items: center;
  text-align: center;
  text-indent: -35px;
}

.item-name {
  text-align: left;
  font-weight: 500;
  flex: 3;
}

.item-price {
  text-align: left;
  flex: 2;
  font-weight: 500;
}

.add-icon {
  width: 20px; /* Adjust the size as needed */
  height: 20px;
}

.item-add {
  flex: 1;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

li button {
  width: 60px; /* Adjust this width as necessary */
  text-align: center;
}

.item-add,
.item-add-placeholder {
  flex: 1;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

ul {
  font-size: 18px;
  padding-left: 15px;
}

/* CHEKOUT PESANAN */
.order-item{
  margin-bottom: 5px;
}
/* Remove the spinners for WebKit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove the spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property */
}

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-summary{
  margin:10px
}

.order-name {
  flex: 3;
}
.order-price{
  flex: 3;
  align-items: right;
  text-align: right;

}
.order-qty-container {
  flex: 2;
  display: flex;
}
.order-qty-button {
  flex: 1;
  font-weight: 600;
  font-size: 20px;
  color: #ece0d1;
  background-color:#4e3928;
  border: none;
  border-radius: 8px;
}
input.order-qty-input {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  background: transparent;
  color: #4e3928;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  align-items: center;
  align-content: center;
   width: 5px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property */
}
/* Media Queries for Portrait Mode on Phones */

@media (max-width: 600px) {
  .order-form {
    flex-direction: column;
    padding: 10px;
  }

  .menu-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .nav-bar {
    flex-direction: column;
  }

  .nav-button {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
  }

  .menu-section {
    margin-bottom: 20px;
  }

  .order-summary {
    flex: none;
    width: 100%;
  }

  .menu-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-name,
  .item-price {
    text-align: center;
    flex: none;
  }

  .item-add,
  .item-add-placeholder {
    width: auto;
  }

  ul {
    font-size: 16px;
  }

  .message-input {
    width: 100%;
  }
}
