.SummaryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  overflow: hidden;
  align-items: start;
  height: 90vh;
  width: 100%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.Title {
  top: 0;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Content {
  /* display: flex; */
  max-height: 75vh;
  overflow-y: scroll;
}

.Table {
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.list td {
  margin-bottom: 5px;
}

.ExpandList {
  display: flex;
  width: 100%;
}

.ExpandDot {
  flex: 1;
}

.ExpandName {
  flex: 4;
}

.ExpandQty {
  flex: 3;
}

.ExpandPrice {
  flex: 1;
}

.ExpandPriceValue {
  flex: 4;
}

.print {
  display: flex;
  justify-content: center;
  align-items: center;
}

.print img {
  display: block;
  margin-bottom: 5px;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  filter: invert(20%) sepia(8%) saturate(2641%) hue-rotate(344deg) brightness(93%) contrast(85%);
  cursor: pointer;
}

/* New styles for Selesai Shift button */
.FinishShiftButton {
  margin-right: 20px;
  background-color: #4e3928;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal styles */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ModalContent {
  display: flex;
  flex-direction: column;

  background-color: #ece0d1;
  /* padding: 20px; */
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ModalContent h2 {
  margin-bottom: 20px;
}

.ModalContent form {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #ece0d1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ModalContent label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.ModalContent input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ModalContent button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ModalContent button:first-of-type {
  background-color: #28a745;
  color: #fff;
  transition: background-color 0.3s ease;
}

.ModalContent button:first-of-type:hover {
  background-color: #218838;
}

.ModalContent button:last-of-type {
  background-color: #dc3545;
  color: #fff;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.ModalContent button:last-of-type:hover {
  background-color: #c82333;
}

/* PRINTING */
.Printing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.PrintingContent {
  display: flex;
  flex-direction: column;

  background-color: #ece0d1;
  /* padding: 20px; */
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.PrintingContent h2 {
  margin-bottom: 20px;
}

.PrintingContent form {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #ece0d1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.PrintingContent label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.PrintingContent input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.PrintingContent button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.printingHeader {
  text-align: center;
}

.EditIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditIcon img {
  display: block;
  margin-bottom: 5px;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  filter: invert(20%) sepia(8%) saturate(2641%) hue-rotate(344deg) brightness(93%) contrast(85%);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  display: block;
  margin-bottom: 5px;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  filter: invert(20%) sepia(8%) saturate(2641%) hue-rotate(344deg) brightness(93%) contrast(85%);
  cursor: pointer;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modalClose {
  cursor: pointer;
}

.modalBody {
  margin-bottom: 15px;
}

.modalBody input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modalButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtonSave {
  background-color: #4caf50;
  color: white;
}

.modalButtonCancel {
  background-color: #f44336;
  color: white;
}