.stockContainer {
  display: flex;
  margin: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  align-self: center;
}

.navButton {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* width: px; */
  cursor: pointer;
  border: none;
  background-color: #4e3928;
  color: #ece0d1;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  text-wrap: wrap;
  text-align: center;
  flex-direction: row;
}

.navButtonActive {
  background-color: #ece0d1;
  color: #4e3928;
  font-weight: 600;
}

table {
  justify-content: center;
  align-self: center;
  width: 85%;
}
th {
  color: #4e3928;
  text-align: left;
  font-size: 28px;
  border-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
th.itemname {
  flex: 5;
}
th.itemprice {
  flex: 4;
}
th.itemqty {
  flex: 3;
  text-align: center;
}
th.itemedit {
  flex: 2;
  text-align: right;
  position: relative;
  right: 10px; /* Adjust this value to move it more or less */
}
tr {
  font-size: 18px;
  font-weight: 600;
}
tr.itemstock {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}
td.itemname {
  flex: 5;
}
td.itemprice {
  flex: 4;
}
td.itemqty {
  flex: 3;
  text-align: center;
}
td.itemAction {
  display: flex;
  justify-content: end;
  flex-direction: row;
  padding-right: 5px;
  flex: 2;
}

.itemAction img {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  filter: invert(20%) sepia(8%) saturate(2641%) hue-rotate(344deg)
    brightness(93%) contrast(85%);
  text-align: right;
  cursor: pointer;
}
img.itemdelete {
  filter: invert(34%) sepia(79%) saturate(3782%) hue-rotate(337deg)
    brightness(99%) contrast(104%);
}
td.itemdelete {
  display: flex;
  justify-content: end;
  flex-direction: row;
  flex: 1;
}
.stockList {
  display: flex;
  flex-direction: column;
  width: 85%;
  flex: 3;
}

/* EDIT style */
/* Existing styles... */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  background-color: #ece0d1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #4e3928;
  font-weight: 700;
}

.modalHeader {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.modalClose img {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  filter: invert(20%) sepia(8%) saturate(2641%) hue-rotate(344deg)
    brightness(93%) contrast(85%);
}

.modalClose {
  display: flex;
  align-items: end;
  justify-content: end;
}

.modalContent {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#rp {
  text-align: end;
}

.modalContentList p {
  flex: 2;
}

.modalInput {
  margin: 5px;
  font-size: 16px;
  color: #4e3928;
  border-color: #4e3928;
  align-items: end;
  width: 60%;
  border-radius: 8px;
  overflow: auto;
  background-color: #ece0d1;
  font-weight: 700;
}
.modalContentList {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.modalButton {
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  font-weight: 600;
}

.modalButtonSave {
  background-color: #4e3928;
  color: #ece0d1;
  text-align: center;
  border: none;
  border-radius: 8px;
}

.modalButtonCancel {
  background-color: #dbc1ac;
  border: none;
  color: #4e3928;
  text-align: center;
}

/* ADD BUTTON */
.stockHeader #categoryHeader {
  color: #4e3928;
  flex: 3;
  font-size: 30px;
}
.stockHeader {
  display: flex;
  flex-direction: row;
  justify-items: auto;
  font-size: 20px;
}
.stockHeader h2 {
  font-size: 18px;
  margin: auto;
  padding-right: 5px;
}

.addButton img {
  display: flex;
  width: 24px;
  height: 24px;
  filter: invert(20%) sepia(8%) saturate(2641%) hue-rotate(344deg)
    brightness(93%) contrast(85%);
}
.addButton {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  margin: auto;
  height: 30px;
  justify-content: center;
  align-items: center;
}

/* DELETE CONFIRMATION BOX */
.deleteBox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  background-color: #4e3928;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #dbc1ac;
  font-weight: 700;
  text-align: center;
}

.deleteHeader {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.deleteConfirmation {
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.deleteConfirmation button {
  display: block;
  margin: 10px;
  background: none;
  border: none;
}

.deleteConfirmation img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.deleteYes {
  filter: invert(66%) sepia(54%) saturate(474%) hue-rotate(87deg)
    brightness(93%) contrast(92%);
}

.deleteNo {
  filter: invert(34%) sepia(79%) saturate(3782%) hue-rotate(337deg)
    brightness(99%) contrast(104%);
}
