/* Navbar container */
.navbar {
  background-color: #38220f;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 5vh;
  max-height: 8vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.5s ease-in-out, position 0.5s ease-in-out;
  padding: 0.5rem;
}

.reopen {
  position: absolute;
  opacity: 0;
  transition: transform 0.25s ease-in-out, position 0.5s ease-in-out, opacity 0.15s ease-in;
}

.reopen img {
  width: 24px;
  height: 24px;
  padding: 2px;
  display: flex;
  filter: invert(95%) sepia(8%) saturate(1074%) hue-rotate(322deg)
    brightness(98%) contrast(88%);
}

.reopen.closed {
  background-color: #38220f;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  position: fixed;
  display: flex;
  /* width: 5%; */
  transform: translate(0);
  visibility: visible;
  opacity: 1;
  top: 0; /* Stick it to the top of the page */
  left: 0; /* Align it to the left */
  opacity: 50%;
  transition: opacity 100ms ease-in;
  /* left: 1%; */
}
.reopen.closed:hover {
  color: black;
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.reopen.open {
  background-color: #38220f;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  position: fixed;
  /* top: 1%; */
  color: white;
  transform: translateY(-100%);
  /* opacity: 0; */
  /* transition: opacity 250ms ease-in; */
  /* display: none; */
}

.navbar.closed {
  position: fixed;
  transform: translateY(-100%);
  padding: 0;
}

.navbar.open {
  position: relative;
  transform: translateY(0);
  padding: 0;
}
.close-button img {
  filter: invert(98%) sepia(43%) saturate(1170%) hue-rotate(301deg)
    brightness(91%) contrast(89%);
  width: 20px;
  height: 20px;
  display: flex;
}

.close-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1rem;
  order: 1;
}

/* Logo styling */
.logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  order: 2;
}
.logo h3 {
  margin: 1rem;
  color: white;
  text-decoration: none;
}

.logo link {
  display: flex;
}

.logo img {
  height: 35px;
  border-radius: 10px;
}

/* Nav links styling */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 3;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Icon styles in nav-links */
.nav-links li img {
  filter: invert(98%) sepia(43%) saturate(1170%) hue-rotate(301deg)
    brightness(91%) contrast(89%);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Add hover effect */
.nav-links li a:hover {
  text-decoration: underline;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
  }

  .close-button {
    order: 1;
  }

  .logo {
    order: 2;
  }

  .nav-links {
    flex-direction: row;
    width: auto;
    order: 3;
    margin-left: auto;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-links li img {
    width: 24px;
    height: 24px;
  }
}
